---
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/sections/RegisterForm.astro";
import CalendaryOperations from "@/sections/CalendaryOperations.astro";
import TradeSpecifications from "@/sections/TradeSpecifications.astro";
---

<Layout>
	<main class="grid gap-2 w-full min-h-screen p-4">
		<CalendaryOperations />
		<RegisterForm />
		<!-- <Graphs /> -->
		<TradeSpecifications />
	</main>
</Layout>

<style>
	main {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			"calendaryOperations registerForm"
			"calendaryOperations registerForm"
			"tradeSpecifications tradeSpecifications";
	}
</style>
