---
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/sections/RegisterForm.astro";
import VisualOperations from "@/sections/VisualOperations.astro";
import Graphs from "@/sections/Graphs.astro";
import Months from "@/sections/Months.astro";
---

<Layout>
	<main class="grid gap-2 w-full min-h-screen p-4">
		<VisualOperations />
		<RegisterForm />
		<!-- <Graphs /> -->
		<Months />
	</main>
</Layout>

<style>
	main {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			"visualOperations registerForm"
			"visualOperations registerForm"
			"months months";
	}
</style>
