---
interface Props {
  gridName: string;
}
const { gridName } = Astro.props;
---

<section
  style={`grid-area: ${gridName};`}
  class="bg-white rounded-2xl border-2 border-slate-300 p-2 relative"
>
  <slot />
</section>
